/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --bg-blue:#0084fd;
    --bg-white:#ffffff;
    --bg-card:#b5ddff;
    --bg-section:#9792e4;
    --orange:#fdc15f;
    --bg-footer:#333333;
    --font-card:#5a6e7f;
}

/* Header */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--bg-blue);
    z-index: 1000;
}

nav{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.bars{
    color: var(--bg-white);
    text-decoration: none;
}

nav ul{
    display: none;
}

/* Main */
/* App-Store */
.even{
    background-color: var(--bg-section);
    padding: 80px 0px;
}

.m100-top{
    margin-top: 100px;
}

.card{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--bg-card);
    border-radius: 20px;
}

main img{
    width: 100%;
    display: block;
}

.p25-top{
    padding-top: 25px;
}

.p40-left{
    padding-left: 40px;
}

#App-Store h3{
    color: var(--bg-blue);
    text-align: center;
}

#App-Store p{
    color: var(--font-card);
    padding: 25px 40px;
    text-align: center;
    font-size: 18px;
}

#App-Store a{
    text-decoration: none;
    background-color: var(--bg-blue);
    padding: 8px 50px;
    border-radius: 20px;
    color: var(--bg-white);
}

#App-Store i.fa-apple{
    padding-right: 10px;
}

#App-Store i.fa-file-code, .fa-compass-drafting,
.fa-laptop-code, .fa-bullhorn{
    font-size: 80px;
    color: var(--bg-blue);
    display: block;
    text-align: center;
}

.card-left{
    width: 100%;
}

.card-right{
    width: 70%;
}


/* Planning */

#Planning{
    margin-top: 80px;
    padding-bottom: 150px;
}

#Planning h2{
    font-size: 30px;
    text-align: center;
    padding: 60px 0px;
}

.font-white{
    color: var(--bg-white);
}

.box{
    width: 85%;
    margin: 0 auto;
}

#Planning p.left{
    text-align:left;
    padding-bottom: 30px;
}

.box2{
    width: 85%;
    margin: 0 auto;
    background-color: var(--bg-white);
    border-radius: 40px;
    color: var(--bg-footer);
    position: relative;
}

#Planning h3{
    padding: 20px 0px;
    text-align: center;
}

#Planning p.center{
    padding: 0px 20px 100px 20px;
    text-align: center;
}

.link{
    background-color: var(--bg-section);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Planning i{
    color: var(--bg-footer);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Testimonials */
.form{
    width: 90%;
    margin: 0 auto;
}

#Testimonials h4{
    text-align: center;
    padding: 80px 0px 30px 0px;
}

#Testimonials h2{
    color: var(--bg-section);
    font-size: 30px;
    text-align: center;
}

#Testimonials p{
    text-align: center;
    padding: 30px 0;
}

.Figure{
    background-color: var(--bg-section);
    border-radius: 40px;
    padding: 30px 40px;
    margin-bottom: 20px;
}

#Testimonials .user-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

#Testimonials .user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Figure-text{
    color: var(--bg-white);
    text-align: center;
}

.icon{
    font-size: 30px;
    padding: 0px 5px;
    vertical-align: middle;
}

#Testimonials .form:last-child{
    padding-bottom: 60px;
}

/* Benefits */
#Benefits h2{
    color: var(--bg-white);
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.form-box{
    background-color: var(--bg-white);
    color: var(--bg-section);
    border-radius: 20px;
    margin-bottom: 20px;
}

#Benefits a{
    background-color: var(--bg-section);
    color: var(--bg-white);
    padding: 8px 40px;
    border-radius: 40px;
    text-decoration: none;
}

#Benefits h1{
    font-size: 50px;
    padding: 30px 0px 30px 30px;
}

#Benefits h3{
    font-size: 23px;
    padding-left: 30px;
}

#Benefits p{
    padding: 40px 30px 40px 30px;
}

.p30-left-bot{
    padding: 0px 0px 30px 30px;
}

/* About-Us */

#About-Us{
    padding: 60px 0px;
}

#About-Us h2{
    font-size: 40px;
    color: var(--bg-section);
    text-align: center;
}

#About-Us p{
    padding-top: 40px;
    text-align: left;
    line-height: 30px;
}

.pop-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.pop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-us-img{
    padding-top: 40px;
}

.icon-big{
    font-size: 100px;
    color: var(--bg-section);
    position: absolute;
    top: -20px;
    right: 0px;
}

#About-Us h3{
    font-size: 25px;
    color: var(--bg-section);
    text-align: left;
    padding-bottom: 40px;
    padding-top: 25px;
}

#About-Us a{
    text-decoration: none;
    color: var(--bg-white);
    background-color: var(--bg-section);
    padding: 8px 30px;
    text-align: left;
    border-radius: 40px;
}

#About-Us i{
    padding-right: 10px;
}

/* Free */
#Free{
    color: var(--bg-white);
    padding: 60px 0px 0px 0px;
}

#Free h3{
    text-align: center;
}

#Free h2{
    font-size: 30px;
    text-align: center;
    padding: 30px 0px 40px 0px;
}

#Free h1{
    font-size: 50px;
    color: var(--orange);
    text-align: center;
}

#Free p{
    text-align: center;
    padding: 40px 0px 80px 0px;
}

#Free a{
    padding: 30px 100px;
    color: var(--bg-section);
    background-color: var(--bg-white);
    border-radius: 40px;
}

#Free span{
    text-decoration: underline;
}

.center{
   text-align: center; 
}

#Free .p70-top{
    padding-top: 70px;
}

/* Footer */

footer{
    background-color: var(--bg-footer);
}

footer p{
    text-align: center;
    color: var(--bg-white);
    padding: 40px 0px;
}

footer span{
    color: var(--bg-section);
    text-decoration: underline;
}


























/* Responsive */


@media screen and (min-width: 768px){
    nav a.bars{
        display: none;
    }
    nav ul{
        display: flex;
        list-style: none;
        color: var(--bg-white);
        align-items: center;
    }
    nav ul li{
        margin-left: 20px;
    }
    nav a{
        text-decoration: none;
        color: var(--bg-white);
    }
    nav a.black{
        color: var(--bg-footer);
    }
    .button{
        background-color: var(--bg-white);
        border-radius: 20px;
        padding: 8px;
        color: var(--bg-footer);
    }
    .d-flex{
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }
    .card{
        width: calc((100% / 3) - 20px);
    }
    .card:first-child{
        width: calc((100% / 3 * 2) - 20px);
    }
    .container-t{
        max-width: 750px;
        margin: 0 auto;
    }
    .f-flex{
        display: flex;
        gap: 20px;
    }
    .user-image{
        width: 30%;

    }
    .Figure-text{
        width: 70%;
        text-align: left;
    }
    #Testimonials p{
        text-align: left;
    }
    .fb-flex{
        display: flex;
        flex-flow: row wrap;
    }
    .form-box{
        width: calc((100% / 2) - 20px);
        gap:20px;
    }
    .au-flex{
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }
    .about-us{
        width: 60%;
    }
    .about-us-img{
        width: 40%;
    }
}

@media screen and (min-width:992px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .card:first-child{
        display: flex;
    }
    .card-left{
        width: 50%;
    }
    .card-right{
        width: 50%;
    }
    main img{
        width: 80%;
    }
    .b-flex{
        display: flex;
    }
    .box-left{
        width: 30%;
        margin-right: 0px;
    }
    .box-right{
        margin-left: 0px;
        width: 30%;
    }
    .box2{
        position: relative;
        top: 180px;
        height: 480px;
    }
    .form-box{
        width:calc((100% / 3) - 20px);
        gap:20px;
    }
}


